@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: "Montserrat", sans-serif;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #aec0ab;
    padding: 30px;
    font-family: "Work Sans", sans-serif;
    font-weight: 500;
  }
  .simg{
    width: 350px;
    margin-left: 25px;
  }
  .getintouch{
    background: #EBFC72;
    padding: 20px 30px;
    margin-left: 20px;
    font-size: 15px;
  }
  .getintouch:hover{
    filter: brightness(0.9);
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
  }
  nav ul li a{
    color: #212e21;
    font-size: 17px;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media screen and (max-width: 800px){
   .simg{
     width: 250px;
     margin-left: 0;
   }
   .getintouch{
    padding: 12px 22px;
    margin-left: 20px;
    font-size: 15px;
   }
  }
  @media screen and (max-width: 620px){
    .simg{
      width: 180px;
      margin-left: 0;
    }
    .getintouch{
     padding: 10px 20px;
     margin-left: 20px;
     font-size: 14px;
    }
    .servw{
      display: none;
    }
  }
  @media screen and (max-width: 500px){
    .simg{
      width: 150px;
      margin-left: 5px;
    }
    nav{
      padding: 15px;
    }
  }
  @media screen and (max-width: 430px){
    .simg{
      width: 150px;
    }
    nav{
      padding: 10px;
    }
    .getintouch{
      left: 15px;
      position: relative;
    }
  }
  
  /* ============================== */
  
  /* @media (max-width: 1170px){
    nav{
        padding: 20px 0;
    }
  }
  @media (max-width: 952px){
    label.simg{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  } */
/* ------------------------------------ */








/* _+__++__ */

.Businesses{
  background-color: #aec0ab;
  font-family: "Work Sans", sans-serif;
}
.empower{
  font-size: 75px;
  font-weight: 700;
  color: #212E21;
  padding: 70px;
  width: 90%;
}
@media screen and (max-width: 800px){
  .empower{
    font-size: 50px;
    width: 100%;
  }
}
@media screen and (max-width: 620px){
  .empower{
    font-size: 40px;
    padding: 30px;
  }
}
@media screen and (max-width: 500px){
  .empower{
    font-size: 30px;
    padding: 25px;
  }
}
/* ----------------------------------------- */
.profilesection{
  padding: 60px;
  display: flex;
  justify-content: space-between;
  background-color: #aec0ab;
}
.profilepic img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.proftext{
  font-size: 20px;
  color: #212e21;
  font-family: "Work Sans", sans-serif;
  padding-left: 90px;
  font-weight: 500;
  width: 90%;
  line-height: 35px;
}
@media screen and (max-width: 1000px){
  .profilesection{
     flex-direction: column;
     text-align: center;
  }
  .proftext{
    margin-top: 20px;
  }
}
@media screen and (max-width: 800px){
  .profilesection{
    padding: 30px;
 }
 .proftext{
   margin-top: 20px;
   line-height: 30px;
 }
}
@media screen and (max-width: 700px){
  .profilesection{
    padding: 25px;
 }
 .proftext{
   margin-top: 20px;
   padding-left: 50px;
 }
}
@media screen and (max-width: 600px){
  .profilesection{
    padding: 20px;
 }
 .proftext{
   margin-top: 20px;
   padding-left: 34px;
 }
}
@media screen and (max-width: 500px){
  .profilesection{
    padding: 15px;
 }
 .proftext{
  text-align: start;
   margin-top: 20px;
   padding-left: 20px;
   width: 100%;
 }
}
@media screen and (max-width: 400px){
  .profilesection{
    padding: 15px;
 }
 .proftext{
   margin-top: 20px;
   padding-left: 2px;
 }
}

/* ----------------------------- */
.servicessection{
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 60px;
  background: rgb(244,243,232);
  background: linear-gradient(180deg, rgba(244,243,232,1) 0%, rgba(209,218,202,1) 24%, rgba(174,192,171,1) 67%);
}
.help{ 
  font-size: 45px;
  margin-bottom: 35px;
  font-family: "Work Sans", sans-serif;
  color: #212E21;
  width: 70%;
  text-align: center;
}
.scaling{
  margin-bottom: 50px;
  font-weight: 700;
  color: #212E21;
  font-family: "Work Sans", sans-serif;
  
}
.sec{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sec img{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  z-index: 2;
}
.secimgtwo{
  position: relative;
  top: -200px;
  z-index: 1;
}
.busio{
  font-size: 25px;
  margin-bottom: 20px;
}
.dndcsk{
  margin-bottom:20px;
}
.taoil{
  margin-top: 10px;
  color: #212e21;
}
.cusmse{
  font-weight: 400;
  font-size: 16px;
  width: 90%;
}

.servicesbtn{
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  border: none;
  color: #F4F3E8;
  background: #212E21;
  padding: 20px 50px;
  margin-left: 90px;
  margin-top: 40px;
  font-size: 16px;
}
.servicesbtn:hover{
  filter: brightness(1.2);
}
@media screen and (max-width: 1000px){
  .servicessection{
    flex-direction: column;
  }
  .sec{
    align-items: center;
    margin-top: 60px;
  }
}
@media screen and (max-width: 750px){
  .help{
    text-align: start;
  }
}
@media screen and (max-width: 500px){
  .servicessection{
    padding: 30px;
  }
  .sec img{
    height: 350px;
    width: 350px;
  }
  .servicesbtn{
    margin-left: 0px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 400px){
  .servicessection{
    padding: 25px;
  }
  .sec img{
    height: 300px;
    width: 300px;
  }
}
/* ---=)-= */
@media screen and (max-width: 1250px){
  .profss{
    flex-direction: column-reverse;
  }
}

/* ------------------------------------------------ */
.successection{
  font-family: "Work Sans", sans-serif;
  padding-left: 6.6vmax;
  padding-right: 6.6vmax;
  background: rgb(244,243,232);
  background: linear-gradient(360deg, rgba(244,243,232,1) 29%, rgba(209,218,202,1) 61%, rgba(174,192,171,1) 100%);
}
.ssheds{
  font-size: 45px;
  margin-bottom: 35px;
  font-family: "Work Sans", sans-serif;
  color: #212E21;
  width: 70%;
  text-align: center;
}
.suctext{
  padding-bottom: 20px;
}
.stavis{
  width: 60%;
  font-style: italic;
  padding: 20px 0;
  font-weight: 00;
}
.nameagd{
  padding-left: 30px;
}
/* ------------------------------------------------------ */
.whychosmesection{
  font-family: "Work Sans", sans-serif;
  padding: 60px;
  background: rgb(244,243,232);
  background: linear-gradient(180deg, rgba(244,243,232,1) 3%, rgba(228,219,199,1) 62%);
}
.whytag{
  font-size: 45px;
  margin-bottom: 35px;
  font-family: "Work Sans", sans-serif;
  color: #212E21;
  width: 70%;
  text-align: center;
}
.proven{
  margin-bottom: 5px;
}
.choseftex{
  margin-bottom: 20px;
}
.yearsnedd{
  font-size: 20px;
  font-weight: 400;
}
/* ---------------------================------------ */
.updatewcusection{
  padding: 60px;
  background: rgb(244,243,232);
  background: linear-gradient(360deg, rgba(244,243,232,1) 29%, rgba(209,218,202,1) 61%, rgba(174,192,171,1) 100%);
  
  
}
.centersmall{
  display: flex;
  align-items: center;
  justify-items: center;
  
  
}
.wcus{
   position: relative;
   left: 120px;
   width: 250px;
   height: 250px;
   border-radius: 50%;
   border: none;
   background: rgb(177,161,228);
   background: linear-gradient(143deg, rgba(177,161,228,1) 17%, rgba(85,52,186,1) 77%);
   -webkit-box-shadow: 10px 10px 40px -22px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 40px -22px rgba(0,0,0,0.75);
box-shadow: 10px 10px 40px -22px rgba(0,0,0,0.75);
}
.capiwsasio{
  position: absolute;
  top: 50px;
  font-size: 45px;
  text-align: center;
  color: #fff;
  font-weight: 500;
}
.graycircle{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: rgb(240,240,240);
  background: linear-gradient(143deg, rgba(240,240,240,1) 41%, rgba(219,219,219,1) 100%);
  -webkit-box-shadow: 10px 10px 40px -22px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 40px -22px rgba(0,0,0,0.75);
box-shadow: 10px 10px 40px -22px rgba(0,0,0,0.75);
  
}
.smapledeste{
  font-size: 18px;
  font-weight: 500;
  color: #727272;
  width: 50%;
  padding-left: 30px;
  margin-bottom: 20px;
}
.altexqi{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.icons{
  font-size: 46px;
  color: #212121;
  display: flex;
  flex-direction: column;
  
}
.ucolsr{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  display: flex;
  align-items: center;
}
.fa-diamond:before , .fa-clock-o:before  , .fa-hand-o-up:before, .fa-heart:before {
  position: relative;
  top: 25px;
  display: flex;
  justify-content: center;

}

 .fa-diamond{
  color: #fff;
  position: relative;
  left: -200px;
  top: -60px;
  background: rgb(177,161,228);
  background: linear-gradient(143deg, rgba(177,161,228,1) 17%, rgba(85,52,186,1) 77%);
 }

.fa-clock-o{
  color: #fff;
  position: relative;
  left: -70px;
  top: -50px;
  background: rgb(141,158,245); 
  background: linear-gradient(143deg, rgba(141,158,245,1) 17%, rgba(65,94,244,1) 77%);
}
.fa-hand-o-up{
  color: #fff;
  position: relative;
  left: -70px;
  top: 50px;
  background: rgb(36,196,204); 
  background: linear-gradient(143deg, rgba(36,196,204,1) 17%, rgba(12,152,168,1) 77%);
}
.fa-heart{
  color: #fff;
  position: relative;
  left: -200px;
  top: 60px;
  background: rgb(255,186,186);
  background: linear-gradient(143deg, rgba(255,186,186,1) 16%, rgba(255,0,0,1) 52%);
}
/* ===========*****************=========== */
@media screen and (max-width: 1000px){
 .centersmall{
   flex-direction: column;
 }
 .wcus{
   left: 0px;
   top: 80px;
 }
 .icons{
  transform: rotate(90deg);
  position: relative;
  top: -120px;
 }
 .ucolsr{
  transform: rotate(270deg);
 }
}
@media screen and (max-width: 600px){
  .wcus{
    width: 200px;
    height: 200px;
  }
  .capiwsasio{
    font-size: 35px;
  }
  .graycircle{
     width: 400px;
     height: 400px;
  }
  .icons{
    font-size: 40px;
  }
  .ucolsr{
    width: 90px;
    height: 90px;
  }
}
@media screen and (max-width: 500px){
  .wcus{
    width: 150px;
    height: 150px;
  }
  .capiwsasio{
    font-size: 25px;
    top: 35px;
  }
  .graycircle{
     width: 300px;
     height: 300px;
  }
  .icons{
    font-size: 32px;
    top: -80px;
  }
  .ucolsr{
    width: 70px;
    height: 70px;
  }
  .fa-diamond:before, .fa-clock-o:before, .fa-hand-o-up:before, .fa-heart:before{
    top: 20px;
  }
  .smapledeste{
   font-size: 16px;
   width: 80%;
   top: 20px;
   position: relative;
  }
}
@media screen and (max-width: 450px){
  .icons{
    top: 0;
  }
  .fa-diamond{
  position: relative;
  left: -170px;
  top: 0px;
  }
  .fa-heart{
    position: relative;
    left: -170px;
    top: 0px;
  }
  .fa-hand-o-up{
    position: relative;
    left: -130px;
    top: -35px;
  }
  .fa-clock-o{
    left: -15px;
    top: 35px;
  }
  .updatewcusection{
    padding: 0;
  }
}

/* ----------------------------------------------------------- */
.newsletter{
  padding: 60px;
  background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lsdigtren{
  margin: 20px 0;
  font-weight: 500;
}
.signup{
padding: 20px;
color: #212E21;
font-family: "Work Sans", sans-serif;
background: rgba(255, 255, 255, 0.16);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
border: 1px solid rgba(255, 255, 255, 0.81);
}
.submit {
  color: #212E21;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
  padding: 11px 35px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50px;
background: rgba(180, 157, 157, 0.57);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.8px);
-webkit-backdrop-filter: blur(0.8px);
border: 1px solid rgba(180, 157, 157, 1);
}
.input-main input {
  font-family: "Varela Round", sans-serif;
  height: 26px;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  color: #212E21;
  font-size: 1rem;
}
.input-main input::placeholder {
  color: #a2a2a2;
}
.input-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: #ebebeb;
  border-radius: 100px;
  margin-right: 15px;
  width: 30%;
}
.input-main svg {
  width: 30px;
  height: auto;
  fill: #a2a2a2;
  margin-right: 10px;
}
.typeindpoid{
  display: flex;
}
@media screen and (max-width: 1100px){
  .typeindpoid{
    flex-direction: column;
    text-align: start;
  }
  .submit{
    margin-top: 10px;
    width: 150px;
  }
  .input-main{
    width: 300px;
  }
}
@media screen and (max-width: 600px){
  .newsletter{
    padding: 30px;
  }
}
@media screen and (max-width: 400px){
  .newsletter{
    padding: 20px;
  }
  .signup{
    padding: 15px;
  }
}









/* -------------------------------- */
.getstatedtoday{
  padding: 60px;
}
.today{
  font-size: 55px;
  margin-bottom: 35px;
  font-family: "Work Sans", sans-serif;
  color: #212E21;
  width: 70%;
}
/* ----------------- */
.getsectins{
  display: flex;
  background: rgb(244,243,232);
  background: linear-gradient(180deg, rgba(244,243,232,1) 3%, rgba(228,219,199,1) 62%);
}
/* ===FORM= */
.container {
  color: #212E21;
  max-width: 700px;
  width: 100%;
  padding: 60px;
  border-radius: 5px;
}
.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 30px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  left: 0;
  bottom: 0;
}
.input__box input{
  margin-top: 10px;
  padding-left: 15px;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  border: 1px solid #212121;
}
.emailplaceqwer{
  width: 100%;
  height: 45px;
  margin-bottom: 12px;
}

.container form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
/* inside the form user details */
form .user__details .input__box {
  width: calc(100% / 2 - 20px);
  margin-bottom: 15px;
}

.user__details .input__box .details .selectopti {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}
.user__details .input__box input {
  height: 45px;
  width: 100%;
  outline: none;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  border: 1px solid #212121;
}
.selectopti{
  height: 45px;
  width: 100%;
  outline: none;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  margin-top: 10px;
  border: 1px solid #212121;
  font-family: "Work Sans", sans-serif;
  margin: 10px 0;
}
.selectopti option{
  color: #212121;
  
}
.user__details .input__box input:focus,
.user__details .input__box input:valid {
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  border: 1px solid #212121;
}

/* inside the form gender details */

form .gender__details .gender__title {
  font-size: 20px;
  font-weight: 500;
}

form .gender__details .category {
  display: flex;
  width: 80%;
  margin: 15px 0;
  justify-content: space-between;
}

.gender__details .category label {
  display: flex;
  align-items: center;
}

.gender__details .category .dot {
  height: 18px;
  width: 18px;
  background: var(--sub-grey);
  border-radius: 50%;
  margin: 10px;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three {
  border-color: var(--sub-grey);
  background: var(--main-purple);
}

form input[type="radio"] {
  display: none;
}

/* submit button */
form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  transition: all 0.3s ease;
}

form .button input:hover {
  background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
}

@media only screen and (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user__details .input__box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .gender__details .category {
    width: 100%;
  }

  .container form .user__details {
    max-height: 300px;
  }

  .user__details::-webkit-scrollbar {
    width: 0;
  }
}
@media  screen and (max-width: 500px){
  .getstatedtoday{
    padding: 30px;
  }
  .container{
    padding: 0 30px;
  }
  .input__box textarea{
    width: 100%;
  }
  .getivbqn{
    margin-bottom: 30px;
  }
}



/* ==MEDIA QURIES */
@media screen and (max-width: 1000px){
 .getsectins{
   flex-direction: column;
 }
 .container{
  padding-top: 0;
 }
}



/* -------------------- */
option[value=""][disabled] {
  display: none;
}
.textsomeiie{
  width: 100%;
  height: 120px;
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  font-family: "Varela Round", sans-serif;
  border: 1px solid #212121;
}
.getivbqn{
  font-weight: 500;
  border: none;
  color: #F4F3E8;
  background: #212E21;
  padding: 20px 50px;
  font-size: 16px;
  margin-top: 10px;
}
.getivbqn:hover{
  filter: brightness(1.2);
}
.potential{
  font-size: 20px;
  color: #212e21;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  width: 90%;
  line-height: 35px;
}
.details{
  color: #212e21;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}
/* --------------------------- */
.contactme{
  display: flex;
  justify-content: space-between;
  font-family: "Work Sans", sans-serif;
  padding: 60px;
  padding-bottom: 160px;
  background-color: #212121;
  color: #f3f2e7;
}
.nameandlink{
  margin-right: 100px;
  width: 100%;
  text-align: center;
}
.profiname{
  margin-bottom: 5px;
}
.growthseo{
  font-weight: 400;
  margin-bottom: 20px;
}
.coet {
  cursor: pointer;
  font-size: 50px;
  width: 40px;
  height: 40px;
  background-color: #ebebeb;
  color: #212121;
  font-size: 30px;
  margin: 0 5px;
  border-radius: 100%;
  text-align: center;
  padding-top: 10px;
}
.Ausopp{
 font-size: 20px;
 line-height: 35px;
 font-style: italic;
}

@media screen and (max-width: 1000px){
  .contactme{
    flex-direction: column;
  }
  .Ausopp{
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px){
  .contactme{
    padding: 25px;
  }
}
@media screen and (max-width: 400px){
 .Ausopp{
  display: none;
 }
}



/* --------------Community------------------- */
.community{
  padding: 60px;
  background-image: url('https://images.pexels.com/photos/219998/pexels-photo-219998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.join{
  color: #fff;
}
.staydw{
  color: #ebebeb;
}
@media screen and (max-width: 600px){
 .community{
  padding: 30px;
 }
}
@media screen and (max-width: 400px){
  .community{
   padding: 20px;
  }
 }
/* --------------------client Image slide section------------------------------ */
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 7));
  }
}


.slider{
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}
.slider .slide-track{
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide{
  height: 100px;
  width: 250px;
}